In [1]:
import pandas as pd

In [16]:
header = ['geonameid','name','asciiname','alternatenames','latitude','longitude','feature class','feature code','country code','cc2','admin1 code','admin2 code','admin3 code','admin4 code','population','elevation','dem','timezone','modification date']
geonames = pd.read_csv('D:/Geonames/allCountries.txt', delimiter='\t', header=None, names=header, low_memory=False)

In [17]:
geonames.head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,2986043,Pic de Font Blanca,Pic de Font Blanca,"Pic de Font Blanca,Pic du Port",42.64991,1.53335,T,PK,AD,NaN,00,NaN,NaN,NaN,0.0,NaN,2860,Europe/Andorra,2014-11-05
1,2993838,Pic de Mil-Menut,Pic de Mil-Menut,Pic de Mil-Menut,42.63333,1.65000,T,PK,AD,"AD,FR",B3,09,091,09024,0.0,NaN,2138,Europe/Andorra,2014-11-05
2,2994701,Roc Mélé,Roc Mele,"Roc Mele,Roc Meler,Roc Mélé",42.58765,1.74028,T,MT,AD,"AD,FR",00,NaN,NaN,NaN,0.0,NaN,2803,Europe/Andorra,2014-11-05
3,3007683,Pic des Langounelles,Pic des Langounelles,Pic des Langounelles,42.61203,1.47364,T,PK,AD,"AD,FR",00,NaN,NaN,NaN,0.0,NaN,2685,Europe/Andorra,2014-11-05
4,3017832,Pic de les Abelletes,Pic de les Abelletes,"Pic de la Font-Negre,Pic de la Font-Nègre,Pic ...",42.52535,1.73343,T,PK,AD,FR,A9,66,663,66146,0.0,NaN,2411,Europe/Andorra,2014-11-05

In [28]:
dates = set(geonames['modification date'])
print('%d unique dates' % len(dates))
featureCodes = set(geonames['feature code'])
print('%d unique feature codes' % len(featureCodes))
countryCodes = set(geonames['country code'])
print('%d unique country codes' % len(countryCodes))

6005 unique dates
663 unique feature codes
254 unique country codes

In [31]:
modifications = pd.read_csv('D:/Geonames/modifications-2018-02-24.txt', delimiter='\t', header=None, names=header, low_memory=False)
modifications.head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,363230,Sofratikë,Sofratike,"Sofratika,Sofratike,Sofratiku,Sofratikë,Σωφράτικα",39.99222,20.21333,P,PPL,AL,AL,45,6.0,NaN,NaN,0,NaN,247,Europe/Tirane,2018-02-24
1,363346,Janicat,Janicat,"Giannitsati,Janicat,Janicati,Jenicat,Junicati,...",39.83639,20.22556,P,PPL,AL,AL,51,NaN,NaN,NaN,0,NaN,437,Europe/Tirane,2018-02-24
2,425236,Muzinda,Muzinda,Muzinda,-3.26170,29.42060,P,PPLA3,BI,NaN,09,NaN,NaN,NaN,0,NaN,906,Africa/Bujumbura,2018-02-24
3,5881825,Abbottsfield,Abbottsfield,NaN,53.57273,-113.39195,P,PPLX,CA,NaN,01,NaN,NaN,NaN,0,NaN,656,America/Edmonton,2018-02-24
4,5885369,Anjou,Anjou,NaN,45.60008,-73.54917,P,PPL,CA,NaN,10,6.0,66023.0,NaN,0,NaN,40,America/Toronto,2018-02-24

In [30]:
geonamesModifications = pd.merge(geonames, modifications, on='geonameid', how='inner')
geonamesModifications.head()

,geonameid,name_x,asciiname_x,alternatenames_x,latitude_x,longitude_x,feature class_x,feature code_x,country code_x,cc2_x,...,cc2_y,admin1 code_y,admin2 code_y,admin3 code_y,admin4 code_y,population_y,elevation_y,dem_y,timezone_y,modification date_y
0,363230,Sofratikë,Sofratike,"Sofratika,Sofratike,Sofratiku,Sofratikë",39.99222,20.21333,P,PPL,AL,AL,...,AL,45,6.0,NaN,NaN,0,NaN,247,Europe/Tirane,2018-02-24
1,363346,Janicat,Janicat,"Janicat,Janicati,Jenicat,Junicati,Penikati",39.83639,20.22556,P,PPL,AL,AL,...,AL,51,NaN,NaN,NaN,0,NaN,437,Europe/Tirane,2018-02-24
2,425236,Muzinda,Muzinda,Muzinda,-3.2617,29.42060,P,PPLL,BI,NaN,...,NaN,09,NaN,NaN,NaN,0,NaN,906,Africa/Bujumbura,2018-02-24
3,5881825,Abbottsfield,Abbottsfield,NaN,53.57273,-113.39195,L,AREA,CA,NaN,...,NaN,01,NaN,NaN,NaN,0,NaN,656,America/Edmonton,2018-02-24
4,5885369,Anjou,Anjou,NaN,45.60008,-73.54917,P,PPL,CA,NaN,...,NaN,10,6.0,66023.0,NaN,0,NaN,40,America/Toronto,2018-02-24